.icon {
    width: rem(22px);
    height: rem(22px);
}

.dark {
    @mixin dark {
        display: none;
    }

    @mixin light {
        display: block;
    }
}

.light {
    @mixin light {
        display: none;
    }

    @mixin dark {
        display: block;
    }
}

.backgroundScheme {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.backgroundIconScheme {
    background-color: light-dark(var(--mantine-color-cyan-0), white);
}